@model IEnumerable<SchoolPCScanner.Models.Student>
@{
    ViewData["Title"] = "Index";
}
<!-- Voeg de Bootstrap CSS toe aan de pagina -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


@* <p>
    <a asp-action="Create">Create New</a>
</p> *@


<h3>Studentenlijst</h3>
</br>
<!-- Zoekbalk -->
<form method="get" asp-action="Index">
    <input type="text" placeholder="Zoek op naam" value="@ViewData["SearchStudent"]" name="searchItem" />
    <button type="submit" class="btn btn-primary">Zoeken</button>
    <button id="helpButton" class="btn btn-outline-secondary btn-sm" type="button" style="margin-bottom: 35px;" data-toggle="modal" data-target="#helpModal" data-placement="top" title="Klik hier voor hulp">
        <i class="fas fa-question-circle"></i>
    </button>

    <!-- Modaal pop-up venster -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Tips & Tricks</h5>
                </div>
                <div class="modal-body">
                    <p>U kunt hier zoeken op:</p>
                    <ul>
                        <li><strong>Naam</strong>, <strong>voornaam</strong>, of <strong>volledige naam</strong> van de leerling</li>
                        <li><strong>Klas</strong> van de leerling</li>
                        <li><strong>Status</strong> van de leerling</li>
                    </ul>
                    <p>Gebruik de volgende benamingen om Leerlingen met een bepaalde status te zoeken:</p>
                    <ul>
                        <li><strong>Beeindigd</strong></li>
                        <li><strong>Nieuw</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <a asp-action="Index">Back to list</a>
</form>
</br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>&#x2714;</span> <!-- Checkmark symbool -->
                    }
                    else
                    {
                        <span style="color: red;">&#10007;</span> <!-- Rood kruisje symbool -->
                    }
                </td>
                <td>
                    @if (item.IsNew)
                    {
                        <span>&#x1F195;</span> <!-- Nieuw symbool -->
                    }
                    else if (!item.IsNew && item.IsActive)
                    {
                        <span>&#x2714;</span> <!-- Checkmark symbool -->
                    }
                    else if (!item.IsActive)
                    {
                        <span style="color: red;">&#10007;</span> <!-- Rood kruisje symbool -->
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @*  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<!-- Voeg de Bootstrap JavaScript toe aan de pagina -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha384-tInGPunCnCEfD7h4Fdzbml7Wtsb6td3H9y4zrXD6Tf+7voG0WxVlTK1lBq6Iz3Iv" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+6Bd5WfwGodhC4f2h1L4a2igq5ksxh6Z+" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#helpButton').click(function () {
            $('#helpModal').modal('show');
        });
    });
</script>
